<div class="cart">
   <h3>Your cart</h3>
   <% for (let i = 0; i < products.length; i++) { %>
      <div class="card">
         <div class="card-top">
            <a href="/store/<%=products[i]._id%>"><h3><%=products[i].name%></h3></a>
         </div>
         <div class="card-image">
            <img src="<%= products[i].img%>" alt="">
         </div>
         <div class="card-bottom">
            <h2>$<%= products[i].price%></h2>
            <h4><%=products[i].cartQty%> in cart</h4>
            <form class="" action="/store/removeCart/<%= products[i]._id%>?_method=PUT" method="post">
               <input type="submit" name="" value="Remove">
            </form>
         </div>
      </div>
   <% } %>
</div>
