<!DOCTYPE html>
<html lang="en" dir="ltr">
   <head>
      <meta charset="utf-8">
      <title></title>
   </head>
   <body>
      <header>
         <div class="brandname">
            <h1>Sushi Supply</h1>
            <nav>
               <ul>
                  <li>Log in</li>
                  <li>Sign-up</li>
               </ul>
            </nav>
         </div>
      </header>
      <div class="landing">
      </div>
      <div class="main">
         <div class="content">
            <h1>Your Reservation</h1>
               <div class="details">
                  <h3>Name</h3><br>
                  <h4><%= request.name%></h4>
                  <h3>When?</h3><br>
                  <h4><%= request.date%></h4>
                  <h3>How many guests?</h3><br>
                  <h4><%= request.guests%></h4>
                  <h3>Any Allergies?</h3><br>
                  <p><%= request.allergies%></p>
                  <h3>Notes</h3><br>
                  <p><%= request.note%></p>
               </div
         </div>
      </div>
   </body>
</html>
