<!DOCTYPE html>
<html lang="en" dir="ltr">
   <%- include ('./partials/head.ejs') %>
   <body>
      <header>
         <%- include ('./partials/header.ejs') %>
      </header>
      <%- include ('./partials/landing.ejs') %>
      <div class="main">
         <%- include ('./partials/side-menu.ejs') %>
         <div class="content">
            <h1>Your Reservation</h1>
               <div class="details">
                  <div class="details-left">
                     <h2><%= request.date%></h2>
                     <h4>Notes</h4>
                     <p><%= request.note%></p>
                  </div>
                  <div class="details-mid">
                     <h4>Name</h4>
                     <p><%= request.name%></p>
                     <h4>Allergies</h4>
                     <p><%= request.allergies%></p>
                  </div>
                  <div class="details-right">
                     <h4>Number of guests</h3>
                     <p><%= request.guests%></p>
                     <a href="/lfs/request/edit/<%=request._id%>">Edit</a>
                  </div>
               </div>
               <%if (currentUser) {%>
                  <a href="/lfs/dashboard/<%= request.user%>">Back</a>
               <%}else {%>
                  <a href="/lfs<%= request.user%>">Back</a>
               <%}%>
         </div>
      </div>
   </body>
</html>
