<!DOCTYPE html>
<html lang="en" dir="ltr">
   <head>
      <meta charset="utf-8">
      <title>Your reservations</title>
      <link rel="stylesheet" href="/css/main.css">
   </head>
   <body>
      <header>
         <%- include ('./partials/header.ejs') %>
      </header>
      <div class="main">
         <%- include ('./partials/side-menu.ejs') %>
         <div class="content">
            <h3>Your reservations</h3>
            <div class="dashboard">
               <% for (let i = 0; i<requests.length; i++){ %>
                  <div class="reservation">
                     <p><%= requests[i].date %></p>
                     <a href='/lfs/request/<%=requests[i]._id%>'> <%= requests[i].name %> </a>
                     <a  class="button" href="/lfs/request/edit/<%=requests[i]._id%>">Change Plans</a>
                  </div>
               <% } %>
               <div class="reservation">
                  <a class="button" id="back" href="/lfs">Back</a>
               </div>
            </div>
         </div>
      </div>
   </body>
</html>
